body {
  font-family: "Lato", sans-serif;
}

.black-bg {
  background-color: #000;
  color: #fff;
}

header {
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 2em;
}

header p {
  font-size: 1.2em;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.w3-quarter {
  display: flex;
  flex-direction: column;
}

.w3-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
}

.w3-card.equal-height {
  height: 500px; 
  overflow: hidden; 
}


.links a {
  display: block;
  margin: 5px 0;
  color: #000;
  text-decoration: none;
  padding: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.links a:hover {
  background-color: #ddd;
}

.w3-card {
  padding: 16px;
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
}

footer {
  background-color: #000;
  color: white;
  padding: 16px;
  text-align: center;
}

.links a {
  display: inline-block;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
}

.black-bg {
  background-color: #000;
  color: #fff;
}

.white-bg {
  background-color: #fff;
  color: #000;
}

#blog-header {
  text-align: center;
  padding: 20px;
}

#blog-header h2 {
  font-size: 2em;
}

#blog-header p {
  font-size: 1.2em;
}

.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.w3-third {
  display: flex;
  flex-direction: column;
}

.w3-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%; 
}

.w3-card.equal-height {
  height: 550px; 
  overflow: hidden; 
}

footer {
  background-color: #000;
  color: white;
  padding: 16px;
  text-align: center;
}
